@charset "UTF-8";
*, *::after, *::before {
  margin: 0%;
  padding: 0%;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  overflow-x: hidden;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  height: 100%;
  width: 100%;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  background-color: #d7d3e4;
  padding: 4rem 1rem;
}

body .main {
  background-color: #fbfbfb;
  position: relative;
  border-radius: 2rem;
}

body .main .main__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(25rem, 0.5fr) 2fr 1fr;
      grid-template-columns: minmax(25rem, 0.5fr) 2fr 1fr;
  gap: 3rem;
  position: relative;
  padding: 2rem 3rem;
}

.left--side__tab__container {
  padding: 1rem 0rem 4rem 1rem;
  /*
     
     
     
     */
}

.left--side__tab__container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  padding: 1rem 2rem;
}

.left--side__tab__container .title::before, .left--side__tab__container .title::after {
  content: "";
  display: table;
  clear: both;
  border: 1rem solid rebeccapurple;
  position: absolute;
  left: 0;
  rotate: 45deg;
}

.left--side__tab__container .title::before {
  z-index: +1;
  border-color: #886dd6;
}

.left--side__tab__container .title::after {
  border-color: royalblue;
  margin-left: 1.5rem;
  border-color: #ecd4ff;
}

.left--side__tab__container .title span {
  margin-left: 4rem;
  font-size: 2.75rem;
  font-weight: 600;
}

.left--side__tab__container .left__tab--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
  z-index: +10;
}

.left--side__tab__container .left__tab--link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
  gap: 2rem;
}

.left--side__tab__container .left__tab--link ul li {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 1rem;
  width: 100%;
  cursor: pointer;
  color: #6c6c6c;
  font-size: 2rem;
  border: .1rem solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.left--side__tab__container .left__tab--link ul li:hover {
  background-color: #f5e8ff;
  border: 0.1rem solid #ecd4ff;
}

.left--side__tab__container .left__tab--link ul li p {
  padding: 1rem 2rem;
}

.left--side__tab__container .left__tab--link ul *::before {
  width: 3rem;
}

.left--side__tab__container .left__tab--link ul .dashboard::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .left__tab--link ul .course::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .left__tab--link ul .chat::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .left__tab--link ul .grade::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .left__tab--link ul .schedule::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .left__tab--link ul .setting::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .left__tab--link ul .help::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .premium__suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem;
}

.left--side__tab__container .premium__suggestion:hover .premium__suggestion--image {
  -webkit-animation: vibrateimage 2s linear infinite;
          animation: vibrateimage 2s linear infinite;
  -webkit-transform: rotate(0deg) translateY(35%);
          transform: rotate(0deg) translateY(35%);
}

.left--side__tab__container .premium__suggestion .premium__suggestion--image {
  height: 17rem;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  z-index: +1;
}

.left--side__tab__container .premium__suggestion .premium__suggestion--description__container {
  padding: 1rem 3rem;
  padding-top: 30%;
  background-color: #ecd4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 3rem;
}

.left--side__tab__container .premium__suggestion .premium__suggestion--description__container .premium__suggestion--title h3 {
  font-size: 2.25rem;
}

.left--side__tab__container .premium__suggestion .premium__suggestion--description__container .premium__suggestion--description {
  margin-top: 2rem;
}

.left--side__tab__container .premium__suggestion .premium__suggestion--description__container .premium__suggestion--description p {
  font-size: 1.75rem;
}

.left--side__tab__container .premium__suggestion .premium__suggestion--description__container .premium__suggestion--button {
  width: 100%;
  margin-top: 3rem;
}

.left--side__tab__container .premium__suggestion .premium__suggestion--description__container .premium__suggestion--button button {
  width: 100%;
  padding: 1rem 0;
  background-color: #886dd6;
  border-radius: 2rem;
  font-size: 1.75rem;
  color: #fff;
}

.activate__header {
  background-color: #ecd4ff;
  color: black !important;
  font-size: 2.25rem !important;
  border: 0.1rem solid #f5e8ff !important;
}

.activate__header:hover {
  background-color: #ecd4ff !important;
}

@-webkit-keyframes vibrateimage {
  0% {
    -webkit-transform: rotate(0deg) translateY(35%);
            transform: rotate(0deg) translateY(35%);
  }
  25% {
    -webkit-transform: rotate(3deg) translateY(30%);
            transform: rotate(3deg) translateY(30%);
  }
  50% {
    -webkit-transform: rotate(0deg) translateY(35%);
            transform: rotate(0deg) translateY(35%);
  }
  75% {
    -webkit-transform: rotate(-3deg) translateY(30%);
            transform: rotate(-3deg) translateY(30%);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(35%);
            transform: rotate(0deg) translateY(35%);
  }
}

@keyframes vibrateimage {
  0% {
    -webkit-transform: rotate(0deg) translateY(35%);
            transform: rotate(0deg) translateY(35%);
  }
  25% {
    -webkit-transform: rotate(3deg) translateY(30%);
            transform: rotate(3deg) translateY(30%);
  }
  50% {
    -webkit-transform: rotate(0deg) translateY(35%);
            transform: rotate(0deg) translateY(35%);
  }
  75% {
    -webkit-transform: rotate(-3deg) translateY(30%);
            transform: rotate(-3deg) translateY(30%);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(35%);
            transform: rotate(0deg) translateY(35%);
  }
}

.dashboard .dashboard__container .dashboard__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
  margin-top: 3rem;
  padding: 1.5rem 1rem;
}

.dashboard .dashboard__container .dashboard__header .dashboard__title {
  font-size: 1.75rem;
}

.dashboard .dashboard__container .dashboard__header .dashboard__course--interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.dashboard .dashboard__container .dashboard__header .dashboard__course--interface .dashboard__search--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}

.dashboard .dashboard__container .dashboard__header .dashboard__course--interface .dashboard__search--box ::-webkit-input-placeholder {
  color: #909090;
}

.dashboard .dashboard__container .dashboard__header .dashboard__course--interface .dashboard__search--box :-moz-placeholder {
  color: #909090;
  opacity: 1;
}

.dashboard .dashboard__container .dashboard__header .dashboard__course--interface .dashboard__search--box ::-moz-placeholder {
  color: #909090;
  opacity: 1;
}

.dashboard .dashboard__container .dashboard__header .dashboard__course--interface .dashboard__search--box :-ms-input-placeholder {
  color: #909090;
}

.dashboard .dashboard__container .dashboard__header .dashboard__course--interface .dashboard__search--box input {
  border: none;
  outline: none;
  padding: 1.5rem 1rem;
  width: 100%;
  font-size: 1.75rem;
}

.dashboard .dashboard__container .dashboard__header .dashboard__course--interface .dashboard__search--box::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding: 1.5rem 1rem;
  font-size: 2rem;
  color: #909090;
  font-weight: 600;
}

.dashboard .dashboard__container .dashboard__header .dashboard__course--interface .dashboard__notification--alert {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
  color: #5e5e60;
}

.dashboard .dashboard__container .dashboard__header .dashboard__course--interface .dashboard__notification--alert::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 2.25rem;
}

.dashboard .dashboard__container .new--course .course__header {
  padding: 1.5rem 1rem;
  font-size: 2rem;
}

.dashboard .dashboard__container .new--course .course--new--released {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  gap: 1rem;
}

.dashboard .dashboard__container .new--course .course--new--released .course {
  padding: 2rem 1rem;
  border-radius: 1rem;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__image {
  background-color: aquamarine;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__image img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  height: 15rem;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__image:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__image .absolouteimg1, .dashboard .dashboard__container .new--course .course--new--released .course .course__image .absolouteimg2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-filter: drop-shadow(-0.3rem 0rem 0rem rgba(184, 184, 184, 0.512));
          filter: drop-shadow(-0.3rem 0rem 0rem rgba(184, 184, 184, 0.512));
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__image .absolouteimg1 {
  left: -2%;
  z-index: +2;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__image .absolouteimg2 {
  left: -4%;
  z-index: +1;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__subject {
  font-size: 2rem;
  padding: .5rem 0;
  margin-top: 1rem;
  width: 100%;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__duration {
  font-size: 1.75rem;
  padding: .5rem 0;
  margin-top: .1rem;
  width: 100%;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__partnership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__partnership .recent__partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__partnership .recent__partner .partner {
  width: 3.5rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  z-index: +1;
  scale: 1;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__partnership .recent__partner .partner:hover {
  z-index: +2;
  scale: 1.09;
  cursor: pointer;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__partnership .recent__partner .user1, .dashboard .dashboard__container .new--course .course--new--released .course .course__partnership .recent__partner .user2 {
  margin-left: -1rem;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__partnership .course__become--partner {
  padding: .5rem 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__partnership .course__become--partner:hover {
  -webkit-transform: translate(4%, 0);
          transform: translate(4%, 0);
}

.dashboard .dashboard__container .new--course .course--new--released .course .course__partnership .course__become--partner::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #fff;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.dashboard .dashboard__container .new--course .course--new--released .geography {
  background-color: #fdf0e0;
}

.dashboard .dashboard__container .new--course .course--new--released .geography .course__image, .dashboard .dashboard__container .new--course .course--new--released .geography .course__become--partner {
  background-color: #fbac5f;
  border: 0.2rem solid #f7c28e;
}

.dashboard .dashboard__container .new--course .course--new--released .geography .course__image img, .dashboard .dashboard__container .new--course .course--new--released .geography .course__become--partner img {
  -webkit-filter: drop-shadow(0.5rem 0.5rem 0.1rem #f7c28e);
          filter: drop-shadow(0.5rem 0.5rem 0.1rem #f7c28e);
}

.dashboard .dashboard__container .new--course .course--new--released .js {
  background-color: #e9e3fd;
}

.dashboard .dashboard__container .new--course .course--new--released .js .course__image, .dashboard .dashboard__container .new--course .course--new--released .js .course__become--partner {
  background-color: #8a6fd8;
  border: 0.2rem solid #a997e1;
}

.dashboard .dashboard__container .new--course .course--new--released .js .course__image img, .dashboard .dashboard__container .new--course .course--new--released .js .course__become--partner img {
  -webkit-filter: drop-shadow(0.5rem 0.5rem 0.1rem #a997e1);
          filter: drop-shadow(0.5rem 0.5rem 0.1rem #a997e1);
}

.dashboard .dashboard__container .new--course .course--new--released .photography {
  background-color: #e6f4ff;
}

.dashboard .dashboard__container .new--course .course--new--released .photography .course__image, .dashboard .dashboard__container .new--course .course--new--released .photography .course__become--partner {
  background-color: #579be4;
  border: 0.2rem solid #87bae9;
}

.dashboard .dashboard__container .new--course .course--new--released .photography .course__image img, .dashboard .dashboard__container .new--course .course--new--released .photography .course__become--partner img {
  -webkit-filter: drop-shadow(0.5rem 0.5rem 0.1rem #87bae9);
          filter: drop-shadow(0.5rem 0.5rem 0.1rem #87bae9);
}

.dashboard .dashboard__container .my__course__list .my__course--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 1rem;
  margin-top: 2rem;
}

.dashboard .dashboard__container .my__course__list .my__course--header .my__course--titel {
  font-size: 2rem;
}

.dashboard .dashboard__container .my__course__list .my__course--header .my__course--viewFullList {
  font-size: 1.75rem;
  color: #8a6fd8;
  font-weight: 600;
}

.dashboard .dashboard__container .my__course__list .my__course__main {
  width: 100%;
  margin-top: 2rem;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  -ms-grid-columns: minmax(30rem, 1.8fr) minmax(8rem, 1fr) minmax(8rem, 1fr) minmax(15rem, 1fr);
      grid-template-columns: minmax(30rem, 1.8fr) minmax(8rem, 1fr) minmax(8rem, 1fr) minmax(15rem, 1fr);
  border-collapse: collapse;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table tr {
  display: contents;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table tr th, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table tr td {
  margin: 0 .5rem;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__course__thead {
  display: contents;
  text-align: left;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__course__thead tr th {
  padding: 1.5rem 0rem 1.5rem .5rem;
  text-align: left;
  font-weight: normal;
  z-index: 100;
  font-size: 2rem;
  color: #5e5e60;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody {
  display: contents;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr td {
  padding: 1.5rem 0rem 1.5rem .5rem;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr td:hover {
  cursor: pointer;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__name__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__name__container .Course--icon {
  margin-right: 1rem;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__name__container .webdevelopment, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__name__container .htmlbasic {
  background-color: #f3eeff;
  border: 0.2rem solid #a882ff;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__name__container .basicdevelompent {
  background-color: #eff8fd;
  border: 0.2rem solid #7ed2ff;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__name__container .datapython {
  background-color: #ffedfe;
  border: 0.2rem solid #df9cdb;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__name__container .javascript--logo {
  background-color: #fff2e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.2rem solid #ffad61;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__name__container .javascript--logo::before {
  content: "js";
  display: table;
  clear: both;
  font-size: 3rem;
  color: #eead71;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__name__container .javascript--logo:hover:before {
  -webkit-animation: scale__animation .5s ease-in-out infinite;
          animation: scale__animation .5s ease-in-out infinite;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__name__container .my__courses__name__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__name__container .my__courses__name__wrapper .my__courses__name {
  font-size: 2rem;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__name__container .my__courses__name__wrapper .my__courses__name__lessons--number {
  font-size: 1.5rem;
  color: #5e5e60;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__date, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__rate, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__level {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 1rem 1rem 0 0;
  font-size: 1.5rem;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__date::after, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__rate::after, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__level::after {
  bottom: 0;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__date, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__rate, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__level {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 1rem 1rem 0 0;
  scale: 1;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__date:hover, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__rate:hover, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__level:hover {
  scale: 1.1;
  cursor: pointer;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__date::after, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__rate::after, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__level::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-top: solid 0.2em #7ed2ff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__date:hover:after, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__rate:hover:after, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .my__courses__level:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .webdev:hover, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .html:hover {
  background-color: #f3eeff;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .webdev::after, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .html::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-top: solid 0.2em #a882ff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .webdev:hover:after, .dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .html:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .basicdev:hover {
  background-color: #eff8fd;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .basicdev::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-top: solid 0.2em #7ed2ff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .basicdev:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .python:hover {
  background-color: #ffedfe;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .python::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-top: solid 0.2em #df9cdb;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .python:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .js:hover {
  background-color: #fff2e1;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .js::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-top: solid 0.2em #ffad61;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.dashboard .dashboard__container .my__course__list .my__course__main .my__course__table .my__courses__tbody tr .js:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@-webkit-keyframes scale__animation {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.1;
  }
  50% {
    scale: 1.2;
  }
  75% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

@keyframes scale__animation {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.1;
  }
  50% {
    scale: 1.2;
  }
  75% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.profile .profile__container {
  padding: 1rem;
}

.profile .profile__container .profile__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile .profile__container .profile__header .edit__profile {
  width: 5rem;
  height: 5rem;
}

.profile .profile__container .profile__header .edit__profile lord-icon {
  height: 100%;
  width: 100%;
}

.profile .profile__container .profile__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.profile .profile__container .profile__detail .user__image {
  width: 30%;
}

.profile .profile__container .profile__detail .user__name {
  font-size: 2rem;
  margin-top: 1rem;
}

.profile .profile__container .profile__detail .user__level {
  font-size: 1.8rem;
  margin-top: .5rem;
}

.profile .profile__container .calendar .calendar__container .current__day {
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .profile__container .calendar .calendar__container .current__day .current__day__container {
  background-color: white;
  -webkit-backdrop-filter: blur(0.1rem);
          backdrop-filter: blur(0.1rem);
  padding: 2rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: +1;
}

.profile .profile__container .calendar .calendar__container .current__day .current__day__container p {
  margin: 0 .5rem;
  font-size: 1.8rem;
}

.profile .profile__container .calendar .calendar__container .current__day::after {
  position: absolute;
  content: "";
  display: table;
  clear: both;
  height: 100%;
  width: 100%;
  background: 0 0 no-repeat;
  background-image: url(../../Media-Asset/calenderbackground/summerpumls.jpg);
  background-position: bottom;
  background-size: cover;
  -webkit-filter: blur(0.1rem);
          filter: blur(0.1rem);
}

.profile .profile__container .calendar .calendar__container .current__day:hover:after {
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper {
  width: 100%;
  margin-top: 2rem;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper .date__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper .date__container .today__date {
  font-size: 2rem;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper .date__container .date--button__Container button {
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  background-color: rebeccapurple;
  border-radius: 50%;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper .date__container .date--button__Container #btnPrev, .profile .profile__container .calendar .calendar__container .calendar__wrapper .date__container .date--button__Container #btnNext {
  margin-right: 3rem;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper .date__container .date--button__Container #btnPrev::before, .profile .profile__container .calendar .calendar__container .calendar__wrapper .date__container .date--button__Container #btnNext::before {
  content: "\f053";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper .date__container .date--button__Container #btnNext {
  rotate: 180deg;
  margin: 0;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper table {
  width: 100%;
  border-spacing: 0;
  margin-top: 2rem;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper table tbody .days td {
  text-align: center;
  padding: .5rem;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper table tbody .normal, .profile .profile__container .calendar .calendar__container .calendar__wrapper table tbody .not-current {
  text-align: center;
  padding: .5rem;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper table tbody td {
  height: 3rem;
  font-size: 1.8rem;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper table tbody .today {
  background-color: #886dd6;
  color: #fff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  margin: 0 auto;
}

.profile .profile__container .calendar .calendar__container .calendar__wrapper table tbody .today::after {
  position: absolute;
  content: ".";
  display: table;
  clear: both;
  bottom: -2rem;
  font-size: 5rem;
  color: #886dd6;
}

.profile .profile__container .my--course__progress {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .profile__container .my--course__progress .my--course__progress__header h2 {
  font-size: 2rem;
}

.profile .profile__container .my--course__progress .course__progress__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 1rem;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(118, 255, 207, 0);
  padding: 1rem 0;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__progress--cours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__progress--cours:hover .progress-bar__progress {
  -webkit-animation: str 2s linear;
          animation: str 2s linear;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__progress--cours .my--course__progress--achivment {
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__progress--cours .my--course__progress--achivment svg {
  height: 100%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 100%;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__progress--cours .my--course__progress--achivment .progress-bar__background {
  fill: none;
  stroke: #e2eff0;
  stroke-width: 0.2rem;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__progress--cours .my--course__progress--achivment .progress-bar__progress {
  fill: none;
  stroke: #e2eff0;
  stroke: #78bec7;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  stroke-width: 0.2rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__progress--cours .my--course__progress--achivment .my--course__progress--achivment__percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__progress--cours .my--course__progress--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__progress--cours .my--course__progress--details .my--course__progress--name {
  margin-bottom: .75rem;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__progress--cours .my--course__progress--details .my--course__progress--name p {
  font-size: 1.8rem;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__progress--cours .my--course__progress--details .my--course__progress--duration {
  margin-top: .75rem;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__progress--cours .my--course__progress--details .my--course__progress--duration span {
  font-size: 1.5rem;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__read--more {
  margin-right: 2rem;
}

.profile .profile__container .my--course__progress .course__progress__wrapper .my--course__progress .my--course__read--more::before {
  content: "\f053";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  rotate: 180deg;
  display: table;
  clear: both;
}

.varified {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.varified::after {
  content: url(../../Media-Asset/varified.svg);
  height: 2.5rem;
  width: 2.5rem;
  background-size: 2.5rem 2.5rem;
  left: calc(100% + 5%);
  position: absolute;
}

@-webkit-keyframes rotate {
  0% {
    background-position: bottom;
  }
  50% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

@keyframes rotate {
  0% {
    background-position: bottom;
  }
  50% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

@-webkit-keyframes str {
  0% {
    stroke-dashoffset: auto;
  }
  50% {
    stroke-dashoffset: 10rem;
  }
  100% {
    stroke-dashoffset: auto;
  }
}

@keyframes str {
  0% {
    stroke-dashoffset: auto;
  }
  50% {
    stroke-dashoffset: 10rem;
  }
  100% {
    stroke-dashoffset: auto;
  }
}
/*# sourceMappingURL=Style.css.map */