@charset "UTF-8";
.left--side__tab__container {
  padding: 1rem 0rem 4rem 1rem;
  /*
     
     
     
     */
}

.left--side__tab__container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  padding: 1rem 2rem;
}

.left--side__tab__container .title::before, .left--side__tab__container .title::after {
  content: "";
  display: table;
  clear: both;
  border: 1rem solid rebeccapurple;
  position: absolute;
  left: 0;
  rotate: 45deg;
}

.left--side__tab__container .title::before {
  z-index: +1;
  border-color: #886dd6;
}

.left--side__tab__container .title::after {
  border-color: royalblue;
  margin-left: 1.5rem;
  border-color: #ecd4ff;
}

.left--side__tab__container .title span {
  margin-left: 4rem;
  font-size: 2.75rem;
  font-weight: 600;
}

.left--side__tab__container .left__tab--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
  z-index: +10;
}

.left--side__tab__container .left__tab--link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
  gap: 2rem;
}

.left--side__tab__container .left__tab--link ul li {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 1rem;
  width: 100%;
  cursor: pointer;
  color: #6c6c6c;
  font-size: 2rem;
  border: .1rem solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.left--side__tab__container .left__tab--link ul li:hover {
  background-color: #f5e8ff;
  border: 0.1rem solid #ecd4ff;
}

.left--side__tab__container .left__tab--link ul li p {
  padding: 1rem 2rem;
}

.left--side__tab__container .left__tab--link ul *::before {
  width: 3rem;
}

.left--side__tab__container .left__tab--link ul .dashboard::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .left__tab--link ul .course::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .left__tab--link ul .chat::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .left__tab--link ul .grade::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .left__tab--link ul .schedule::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .left__tab--link ul .setting::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .left__tab--link ul .help::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.left--side__tab__container .premium__suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem;
}

.left--side__tab__container .premium__suggestion:hover .premium__suggestion--image {
  -webkit-animation: vibrateimage 2s linear infinite;
          animation: vibrateimage 2s linear infinite;
  -webkit-transform: rotate(0deg) translateY(35%);
          transform: rotate(0deg) translateY(35%);
}

.left--side__tab__container .premium__suggestion .premium__suggestion--image {
  height: 17rem;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  z-index: +1;
}

.left--side__tab__container .premium__suggestion .premium__suggestion--description__container {
  padding: 1rem 3rem;
  padding-top: 30%;
  background-color: #ecd4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 3rem;
}

.left--side__tab__container .premium__suggestion .premium__suggestion--description__container .premium__suggestion--title h3 {
  font-size: 2.25rem;
}

.left--side__tab__container .premium__suggestion .premium__suggestion--description__container .premium__suggestion--description {
  margin-top: 2rem;
}

.left--side__tab__container .premium__suggestion .premium__suggestion--description__container .premium__suggestion--description p {
  font-size: 1.75rem;
}

.left--side__tab__container .premium__suggestion .premium__suggestion--description__container .premium__suggestion--button {
  width: 100%;
  margin-top: 3rem;
}

.left--side__tab__container .premium__suggestion .premium__suggestion--description__container .premium__suggestion--button button {
  width: 100%;
  padding: 1rem 0;
  background-color: #886dd6;
  border-radius: 2rem;
  font-size: 1.75rem;
  color: #fff;
}

.activate__header {
  background-color: #ecd4ff;
  color: black !important;
  font-size: 2.25rem !important;
  border: 0.1rem solid #f5e8ff !important;
}

.activate__header:hover {
  background-color: #ecd4ff !important;
}

@-webkit-keyframes vibrateimage {
  0% {
    -webkit-transform: rotate(0deg) translateY(35%);
            transform: rotate(0deg) translateY(35%);
  }
  25% {
    -webkit-transform: rotate(3deg) translateY(30%);
            transform: rotate(3deg) translateY(30%);
  }
  50% {
    -webkit-transform: rotate(0deg) translateY(35%);
            transform: rotate(0deg) translateY(35%);
  }
  75% {
    -webkit-transform: rotate(-3deg) translateY(30%);
            transform: rotate(-3deg) translateY(30%);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(35%);
            transform: rotate(0deg) translateY(35%);
  }
}

@keyframes vibrateimage {
  0% {
    -webkit-transform: rotate(0deg) translateY(35%);
            transform: rotate(0deg) translateY(35%);
  }
  25% {
    -webkit-transform: rotate(3deg) translateY(30%);
            transform: rotate(3deg) translateY(30%);
  }
  50% {
    -webkit-transform: rotate(0deg) translateY(35%);
            transform: rotate(0deg) translateY(35%);
  }
  75% {
    -webkit-transform: rotate(-3deg) translateY(30%);
            transform: rotate(-3deg) translateY(30%);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(35%);
            transform: rotate(0deg) translateY(35%);
  }
}

.main .main__container {
  overflow: auto;
  -ms-grid-columns: minmax(30rem, 0.35fr) 1fr !important;
      grid-template-columns: minmax(30rem, 0.35fr) 1fr !important;
}

.main .main__container .wrapper__help .help__container .help__title {
  font-size: 2.5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 3rem;
}

.main .main__container .wrapper__help .help__container .help__title h3 {
  background-color: #fbfbfb;
  z-index: +1;
  padding: 1rem 1.5rem;
}

.main .main__container .wrapper__help .help__container .help__title::after {
  position: absolute;
  width: 100%;
  content: "";
  display: table;
  clear: both;
  border-bottom: .2rem solid black;
}

.main .main__container .wrapper__help .help__container .help__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.main .main__container .wrapper__help .help__container .help__container .help__toturial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=Help.css.map */