
@mixin display-row-center-center {
     display: flex ; 
     flex-direction: row ;
     align-items: center ; 
     justify-content: center ; 
} 
@mixin  display-row($alignItem , $justifyContent) {
     display: flex;
     flex-direction: row;
     align-items: $alignItem;
     justify-content: $justifyContent;
}
@mixin  display-column-center-center {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
@mixin  display-column($aligncolumn , $justifycolumn) {
     display: flex;
     flex-direction: column;
     align-items: $aligncolumn;
     justify-content: $justifycolumn;
}
@mixin fit-height-width {
     height: 100%;
     width: 100%;
}
$light--clr : #fff ; 
$veryLightPink--clr : #d7d3e4 ; 
$lightpink--clr : #d9d0fc ;
$lightblue--clr : #eff8fd; 
$lightpurple--clr : #f3eeff ;
$verylightpurple--clr : #ffedfe ;
$orange--clr : #eead71 ; 
$lightorang--clr : #fff2e1 ; 
$border-orange--clr : hsl(29, 100%, 69%) ; 
$border-lightpink--clr : #a28aff ;
$border-lightblue--clr : #7ed2ff; 
$border-lightpurple--clr : #a882ff ;
$border-verylightpurple--clr : #df9cdb ;
$pink--clr : #886dd6 ;