.dashboard {
     .dashboard__container {
          .dashboard__header {
               @include display-row(center , space-between) ;
               .dashboard__course--interface {
                    @include display-row(center , space-between) ;
               }
          }
          .new--course {
               .course--new--released {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
               }
               .course {
                    padding: .5rem;
                    .course__image {
                         background-color:aquamarine;
                    }
                    .course__subject {
                         font-size: 1.8rem;
                    }
                    .course__duration {
                         font-size: 1.5rem;
                    }
                    .course__partnership {
                         @include display-row(center , space-between) ; 
                         .recent__partner {
                              @include display-row(center , flex-start) ; 
                              .partner {
                                   width: 3.5rem;
                              }
                              .user1 , .user2{
                                   margin-left: -1rem;
                              }
                         }
                    }
                    
               }
          }
     }
}