@import "../Ultility/variable" ;
.left--side__tab__container {
     padding: 1rem 0rem 4rem 1rem;
     .title {
          @include display-row(center , flex-start) ;
          position: relative;
          padding: 1rem 2rem;
          &::before , &::after{
               content: "";
               display: table;
               clear: both;
               border: 1rem solid rebeccapurple;
               position: absolute;
               left: 0;
               rotate: 45deg;
          }
          &::before {
               z-index: +1;
               border-color: $pink--clr;
          }
          &::after {
               border-color: royalblue;
               margin-left: 1.5rem;
               border-color: $lightpink--clr;
          }
          span {
               margin-left: 4rem;
               font-size: $normall--sup-font ;
               font-weight: 600 ; 
          }
     }
     .left__tab--link {
          @include display-column(flex-start , space-between) ; 
          margin-top: 3rem;
          z-index: +10;
          ul {
               @include display-column(flex-start , space-between) ; 
               font-size: 2rem;
               gap: 2rem;
               li{
                    padding: 1rem 2rem;
                    @include display-row(center , flex-start) ;
                    border-radius: 1rem;
                    width: 100%;
                    cursor: pointer;
                    color: $light--gray--clr;
                    font-size: $small--sup-font;
                    border: .1rem solid transparent;
                    transition: all .3s ease-in-out;
                    &:hover {
                         background-color: $smoth--lightpink--clr;
                         border: .1rem solid $lightpink--clr;
                    }
                    p {
                         padding: 1rem 2rem;
                    }
               }
               *::before {
                    width: 3rem;
               }
               .dashboard::before {
                    @include fontasome("\f6f1") ;
               }
               .course::before {
                    @include fontasome("\f290") ; 
               }
               .chat::before {
                    @include fontasome("\f27a") ;
               }
               .grade::before {
                    @include fontasome("\f681") ;
               }
               .schedule::before {
                    @include fontasome("\f073") ; 
               }
               .setting::before {
                    @include fontasome("\f013")  ;
               }
               .help::before {
                    @include fontasome("\f05a") ; 
               }
          }
     }
     .premium__suggestion {
          @include display-column-center-center ;
          border-radius: 2rem;
          &:hover {
               .premium__suggestion--image {
                    animation: vibrateimage 2s linear infinite;
                    transform: rotate(0deg) translateY(35%);
               }     
          }
          .premium__suggestion--image {
               height: 17rem;
               transform: translateY(40%);
               z-index: +1;
          }
          .premium__suggestion--description__container {
               padding: 1rem 3rem;
               padding-top: 30%;
               background-color: $lightpink--clr;
               @include display-column-center-center ;
               text-align: center;
               border-radius: 3rem;
               .premium__suggestion--title {
                    h3 {
                         font-size: $normall--sub-font ; 
                    }
               }
               .premium__suggestion--description {
                    margin-top: 2rem;
                    p {
                         font-size: $small--font ;
                    }
               }
               .premium__suggestion--button {
                    width: 100%;
                    margin-top: 3rem;
                    button {
                         width: 100%;
                         padding: 1rem 0;
                         background-color: $pink--clr;
                         border-radius: 2rem;
                         font-size: $small--font;
                         color: $light--clr;
                    }
               }
          }
     }
     /*
     
     
     
     */
}
.activate__header {
     background-color: $lightpink--clr;    
     color: black !important;
     font-size: $normall--sub-font !important;
     border: .1rem solid $smoth--lightpink--clr !important; 
     &:hover {
          background-color: $lightpink--clr !important;    
     }
}
@keyframes vibrateimage {
     0%{
          transform: rotate(0deg) translateY(35%);
     }
     25% {
          transform: rotate(3deg) translateY(30%);
     }
     50%{
          transform: rotate(0deg) translateY(35%);
     }
     75%{
          transform: rotate(-3deg) translateY(30%);
     }
     100%{
          transform: rotate(0deg) translateY(35%);
     }
}