@import "../Ultility/variable" ;
body {
     background-color: $veryLightPink--clr;
     padding: 4rem 1rem;
     .main {
          background-color: #fbfbfb;
          position: relative;
          border-radius: 2rem;
          .main__container {
               display: grid;
               grid-template-columns: .9fr 2fr 1fr;
               gap: 2rem;
               position: relative;
               padding: 2rem .5rem;
          }
     }
}