.profile {
     .profile__container {
          padding: 1rem;
          .profile__header {
               width: 100%;
               @include display-row(center , space-between) ; 
               .edit__profile {
                    width: 5rem;
                    height: 5rem;
                    lord-icon {
                         @include fit-height-width;
                    }
               }
          }
          .profile__detail {
               @include display-column(center , flex-start) ;
               .user__image {
                    width: 30%;
               }
               .user__name {
                    font-size: 2rem;
                    margin-top: 1rem;
                    
               }

               .user__level {
                    font-size: 1.8rem;
                    margin-top: .5rem;
               }
          }
          .calendar {
               .calendar__container {
                    .current__day {
                         border-radius: 2rem;
                         overflow: hidden;
                         .current__day__container {
                              background-color: white;
                              backdrop-filter: blur(.1rem);
                              padding: 2rem;
                              border-radius: 2rem ; 
                              @include display-row-center-center ;
                              z-index: +1;
                              p{
                                   margin: 0 .5rem;
                                   font-size: 1.8rem;
                              }
                         }
                         width: 100%;
                         height: 20rem;
                         @include display-row-center-center ;
                         &::after {
                              position: absolute;
                              content: "";
                              display: table;
                              clear: both;
                              @include fit-height-width ; 
                              background: 0 0 no-repeat;
                              background-image: url(../../Media-Asset/calenderbackground/summerpumls.jpg);
                              background-position: bottom;
                              background-size: cover;
                              filter: blur(.1rem);
                         }
                         &:hover:after {
                              animation: rotate 3s linear infinite;
                         }
                    }
                    .calendar__wrapper {
                         width: 100%;
                         margin-top: 2rem;
                         .date__container {
                              @include display-row(center , space-between) ;
                              padding: 0 1rem;
                              
                              .today__date {
                                   font-size: 2rem;
                              }
                              .date--button__Container {
                                   button {
                                        font-size: 1.8rem;
                                        width: 3rem;
                                        height: 3rem;
                                        padding: .5rem;
                                        background-color: rebeccapurple;
                                        border-radius: 50%;
                                   }
                                   #btnPrev , #btnNext{
                                        margin-right: 3rem;
                                        &::before {
                                             content: "\f053";
                                             font-family: "Font Awesome 6 Free";
                                             font-weight: 900;
                                        }
                                   }
                                   #btnNext {
                                        rotate: 180deg;
                                        margin: 0;
                                   }
                              }
                         }
                         table {
                              width: 100%;
                              border-spacing: 0;
                              margin-top: 2rem;
                              tbody  {
                                   .days {
                                        td {
                                             text-align: center ;
                                             padding: .5rem ;
                                        }
                                   }
                                   .normal , .not-current{
                                        text-align: center ;
                                        padding: .5rem ;
                                   }
                                   td {
                                        height: 3rem;
                                        font-size: 1.8rem;
                                   }
                                   .today {
                                        background-color: $pink--clr;
                                        color: $light--clr;
                                        border-radius: 50%;
                                        width: 3rem;
                                        height: 3rem;
                                        padding: .5rem ;
                                        @include display-column-center-center ;
                                        font-size: 1.8rem;
                                        margin: 0 auto;
                                        &::after {
                                             position: absolute;
                                             content: ".";
                                             display: table;
                                             clear: both;
                                             bottom: -2rem;
                                             font-size: 5rem;
                                             color: $pink--clr;
                                        }
                                   }
                              }
                         }
                    }
               }
          }
          .my--course__progress {
               width: 100%;
               @include display-column(flex-start , center) ; 
               .my--course__progress__header {
                    h2 {
                         font-size: 2rem; 
                    }
               }
               .course__progress__wrapper {
                    @include display-column(flex-start , center) ; 
                    width: 100%;
                    gap: 1rem;
                    .my--course__progress {
                         @include display-row(center , space-between) ;
                         background-color: rgba(118, 255, 207, 0);
                         padding: 1rem 0;
                         .my--course__progress--cours {
                              @include display-row(center , flex-start ) ;
                              gap: 1rem;
                              &:hover {
                                   .progress-bar__progress {
                                        animation: str 2s linear ;
                                   }
                              }
                              .my--course__progress--achivment {
                                   width: 5rem;
                                   height: 5rem ; 
                                   margin-left: 1rem;
                                   svg {
                                        height: $progress-bar-size;
                                        transform: rotate(-90deg);
                                        width: $progress-bar-size;
                                      }
                                      
                                      .progress-bar__background {
                                        fill: none;
                                        stroke: #e2eff0;
                                        stroke-width: $progress-bar-stroke-width;
                                      }
                                      
                                      .progress-bar__progress {
                                        fill: none;
                                        stroke: #e2eff0;
                                        stroke: #78bec7;
                                        stroke-dasharray: 100 100;
                                        stroke-dashoffset: 100;
                                        stroke-linecap: round;
                                        stroke-width: $progress-bar-stroke-width;
                                        transition: all 1s ease-in-out;
                                      }
                                   .my--course__progress--achivment__percentage {
                                        position: absolute ; 
                                        top: 50% ;
                                        left: 50% ; 
                                        transform: translate(-50% , -50% ) ; 
                                   }
                              }
                              .my--course__progress--details {
                                   @include display-column(flex-start , space-between) ; 
                                   .my--course__progress--name {
                                        margin-bottom: .75rem;
                                        p {
                                             font-size: 1.8rem ; 
                                        }
                                   }
                                   .my--course__progress--duration {
                                        margin-top: .75rem;
                                        span {
                                             font-size: 1.5rem ; 
                                        }
                                   }
                              }
                         }
                         .my--course__read--more {
                              margin-right: 2rem;
                              &::before {
                                   content: "\f053";
                                   font-family: "Font Awesome 6 Free";
                                   font-weight: 900;
                                   rotate: 180deg ;
                                   display: table ; 
                                   clear: both ;
                                   
                              }
                         }
                    }
               }
          }
     }
}
.varified {
     @include display-row(center , flex-start) ;
     &::after {
     content: url(../../Media-Asset/varified.svg);
     height: 2.5rem;
     width: 2.5rem;
     background-size: 2.5rem 2.5rem;
     left: calc(100% + 5%);
     position: absolute;
}
}
@keyframes rotate {
     0%{
          background-position: bottom;
     }
     50%{
          background-position: top;
     }
     100% {
          background-position: bottom;
     }
}
@keyframes str {
     0%{
          stroke-dashoffset : auto; 
     }
     50%{
          stroke-dashoffset : 10rem ; 
     }
     100%{
          stroke-dashoffset : auto; 
     }
}