* , *::after , *::before {
     margin: 0%;
     padding: 0%;
     position: relative;
     box-sizing: content-box;
}
html {
     font-size: 62.5%;
}
body {
     font-size: 1.5rem;
     overflow-x: hidden;
}
ul , li {
     padding: 0;
     margin: 0;
     list-style-type: none;
}
img {
     height: 100%;
     width: 100%;
}
button {
     border: none;
     outline: none;
     background-color: transparent;
}